<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p %c:%L] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="exceptionFilter" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--  <file>dubbo-exception.log</file>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/dubbo-exception-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p %c:%L] %m%n</pattern>
		</encoder>
	</appender>

    <appender name="dbaccessAppender">
        <param name="file" value="${catalina.base}/logs/redisaccess.log" /> <!-- 业务需要更新此项，文件需要有读写权限 -->
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout>
            <param name="ConversionPattern"
                value="[%d{yyyy-mm-dd HH:mm:ss.SSS} %t %-5p %l] %m%n" />
        </layout>
    </appender>

	<!-- parsePOI方法打出 INFO: 忽略广告:near...其中包含了Exception关键字被日志系统扫出，这里做过滤 -->
	<logger name="com.susing.gis.google.GMarkerJson"
		level="ERROR" additivity="false">
		<appender-ref ref="console" />
	</logger>
	
	<logger name="com.alibaba.dubbo.rpc.filter.ExceptionFilter"
		level="ERROR" additivity="false">
		<appender-ref ref="exceptionFilter" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>
</configuration>


